[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
mypy = "==0.720"
black = "==19.3b0"
coverage = "*"

[packages]

[requires]
python_version = "3.7"
