[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pylint = "*"
pytest = "==5.0.1" # Required version to work with VS code test plugin
mypy = "==0.720"
black = "==19.3b0"
coverage = "*"

[packages]

[requires]
python_version = "3.7"
